<!-- 
<div class="text-layout">

  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>

</div>

<button
pButton
label="Ejemplo de ejemplo"
icon="pi pi-bell"
iconPos="right"
class="p-button-help"
(click)="mostrarNombre()"

></button>


<p-card [header]="nombre | titlecase"
        subheader="Esto es un subHeader"
>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consectetur molestiae, quam, excepturi nostrum obcaecati vitae aperiam nisi quo quia aut quos rerum doloremque quasi sit est! Minima, similique qui!

</p-card> -->

<app-menu></app-menu>